<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>AI对对联</title>
</head>


<body background="static/bg.jpg">
    <form method="POST" class="text-center">
        <br><br><br>
        <image src="static/title.png"></image>
        <br><br>
        <image src="static/up.png"></image>
        <input type="text" style="height:70px; width:1000px; font-size:50px; font-family:黑体; text-align:center" name="coupletup">
        <br><br><br>
        <image src="static/down.png"></image>
        <textarea style="height:70px; width:1000px; font-size:50px; font-family:黑体; text-align:center">{{ coupletdown }}</textarea>
    </form>
    <br>
</body>

</html>